@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">¡¡Hello World!! AZ-104 TEAM</h1>
    <p>SITIO EN CONSTRUCCION</p>
    <hr />
    <div>SU SISTEMA OPERATIVO: @Model.OSVersion</div>
</div>
